.rest {
    display:flex;
    flex:1;
    background-image: url('../../images/bg4.jpg');
    flex-direction: column;
    justify-content: center;
    margin-left: 55px;
    background-color:black;
    height:100%;
}

@media only screen and (max-width: 600px) {
    .rest {
        display:flex;
        flex:1;
        background-image: url('../../images/bg4.jpg');
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        background-color:black;
        height:100%;
    }
}