.rest {
    display:flex;
    flex:1;
    background-image: url('../../images/p45.jpg');
    flex-direction: column;
    justify-content: center;
    margin-left: 55px;
    background-color:black;
    height:100%;
}

.typing {
    display:flex;
    flex-direction: row;
    height:55px;
    padding-left: 45px;
    font-size:29px;
    color:white
}

@media only screen and (max-width: 600px) {
    .rest {
        display:flex;
        flex:1;
        background-image: url('../../images/p29.jpg');
        background-size:cover;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        background-color:black;
        height:100%;
        overflow:hidden
    }
}