.container {
    color:'#0d1117';
    position:relative;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 15px;
}

.dummy {
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    background:#0d1117;
    opacity: 0;
}

.dummy:hover {
    opacity:0.09;
    background:white
}

.box {
    padding: 15px;
    border: solid #2a2a2a;
    border-width: 1px;
    height:fit-content;
}

.first-row {
    display:flex;
    flex:1;
    flex-direction: row;
    vertical-align: middle;
    text-align: center;
}

.image {
    display: inline-flex;
}

.cname {
    vertical-align: middle;
    text-align: center;
    line-height: 41px;
    padding-left: 15px;
    font-size: 29px;
    font-weight: 405;
}

.position {
    color:azure;
    font-size:21px;
    font-weight:355;
    padding-top: 5px;
}
.term {
    color:azure;
    font-size:16.5px;
    font-weight:175;
    padding-top: 2.5px;
}

.description {
    color:azure;
    font-size:16.99px;
    font-weight:275;
    padding-top: 2.5px;
}

.links {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center
}