.main5 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 55px;
    background-color: #0d1117;
    overflow-y: auto;
    padding-bottom: 55px;
    overflow-x: hidden;
}

.title-exp {
    font-size: 39px;
    color:#fc6d6d;
    padding:15px;
}

@media only screen and (max-width: 600px) {
    .main5 {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-left: 0px;
        background-color: #0d1117;
        overflow-y: auto;
        padding-bottom: 55px;
        overflow-x: hidden;
        margin-top: 35px;
    }
    .title-exp {
        font-size: 39px;
        color:#1da1f2;
        padding:15px;
    }
}
