.main {
  display:flex;
  flex:1;
  flex-direction:row;
  height:100vh;
}

@media only screen and (max-width: 600px) {
  .main {
    display:flex;
    flex:1;
    flex-direction:column;
    height:100vh;
  }
  .hide {
    position:fixed;
    width:100%;
    overflow:visible;
    z-index:10;
  }
}

@media only screen and (min-width: 600px) {
  .hide {
    display:none;
  }
}